# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

[*]
indent_style = space
indent_size = 4
end_of_line = crlf
charset = utf-8
trim_trailing_whitespace = false
insert_final_newline = false
file_header_template = Copyright (c) Mobwiz Lu. All rights reserved. \nLicensed under the Apache License, Version 2.0. See LICENSE in the project root for license information.
