<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="info"
      internalLogFile="/home/works/program/logs/NLogInternal.log">
    <!-- the targets to write to -->
    <targets>
        <target xsi:type="File" name="file" maxArchiveDays="7" fileName="/home/works/program/logs/${shortdate}.log">
            <layout xsi:type="JsonLayout" excludeProperties="Comma-separated list (string)">
                <attribute name="traceid" layout="${aspnet-TraceIdentifier}" />
                <attribute name="longdate" layout="${longdate}" />
                <attribute name="level" layout="${level:upperCase=true}" />
                <attribute name="logger" layout="${logger}" />
                <attribute name="message" layout="${message}" />
                <attribute name="exception" layout="${exception:format=tostring}" IncludeEmptyValue="true" />
            </layout>
        </target>

        <target name="console" xsi:type="ColoredConsole"
                useDefaultRowHighlightingRules="false"
				layout="${level:lowercase=true}: ${longdate} - ${logger} ${newline}      ${message:withexception=true} | ${exception:format=tostring}"
				>
            <highlight-row condition="level == LogLevel.Debug" foregroundColor="DarkGray" />
            <highlight-row condition="level == LogLevel.Info" foregroundColor="Gray" />
            <highlight-row condition="level == LogLevel.Warn" foregroundColor="Yellow" />
            <highlight-row condition="level == LogLevel.Error" foregroundColor="Red" />
            <highlight-row condition="level == LogLevel.Fatal" foregroundColor="Red" backgroundColor="White" />
        </target>

        <!-- write to the void aka just remove -->
        <target xsi:type="Null" name="blackhole" />
    </targets>
    <!-- rules to map from logger name to target -->
    <rules>

        <logger name="Microsoft.AspNetCore.Hosting.Diagnostics" minlevel="Trace" writeTo="blackhole" />

        <logger name="Microsoft.AspNetCore.*" minlevel="Info" writeTo="console" />
        <logger name="IdentityServer4.*" minlevel="Info" writeTo="console" />

        <logger name="Microsoft.AspNetCore.*" minlevel="Warning" writeTo="file" />
        <logger name="IdentityServer4.*" minlevel="Info" writeTo="file" />
        <logger name="*" minlevel="Warning" writeTo="file" />

        <!-- 未记录日志都丢掉 -->
        <logger name="*" minlevel="Trace" writeTo="blackhole" final="true" />
    </rules>
</nlog>
